@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

:root {
    --primary-orange: #CAA285;
    --secondary-orange: #FAF6F3;
    --text-grey: #C4BFB6;
    --text-green: #18211D; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

button, input {
    border: none;
    outline: none;
    background: transparent;
}

textarea {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Jost', sans-serif;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {    
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

h1, h2, h3, p {
    color: var(--text-green);
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header {
    background-color: var(--primary-orange);
    color: white;
    padding: 10px 12px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-weight: 800;
}

#hamburger {
    color: white;
}

nav {
    background-color: var(--secondary-orange);
    padding: 15px;
}

nav.hidden {
    display: none;
}

nav.active {
    display: block;
}

.nav-link {
    color: var(--text-green);
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 600;
}

#projects {
    margin-top: 10px;
}

#project-title {
    background-color: white;
    border-radius: 8px;
    color: var(--text-grey);
    padding: 10px 20px 10px 8px;
    width: 95%;
}

#submit-project {
    background-color: var(--primary-orange);
    color: white;
}

.project-submit {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#add-project.hidden {
    position: absolute;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 300ms ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#add-project.active {
    max-height: 200px;
    transition: max-height 1s ease-out, opacity 300ms ease;
}

/*--------------------------------------------------------------
# Inbox
--------------------------------------------------------------*/
#inbox {
    margin: 15px 20px 10px 20px;
}

.add-btn {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 10px 0 10px 0;
}

#add-task:hover {
    background-color: var(--secondary-orange);
}

/*--------------------------------------------------------------
# Add Task
--------------------------------------------------------------*/
#add-task {
    border: 2px var(--text-grey) solid;
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    color: var(--text-grey);
}

#title-input {
    font-weight: 700;
}

#input-container textarea input {
    color: var(--text-grey);
    width: 100%;
}

#add-task input[type="date"] {
    font-family: 'Jost', sans-serif;
    color: var(--text-grey);
}

#details-container {
    display: flex;
}

#submit-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px
}

#cancel-task, .submit-btn {
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    color: white;
}

#cancel-task {
    background-color: red;
}

#submit-task {
    background-color: var(--primary-orange);
}

#add-task.hidden {
    position: absolute;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 300ms ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#add-task.active {
    max-height: 500px;
    transition: max-height 1s ease-out, opacity 300ms ease;
}

/*--------------------------------------------------------------
# Task List
--------------------------------------------------------------*/
.task-entry {
    display: flex;
    flex-direction: column;
    border: 1px var(--text-green) solid;
    border-radius: 6px;
    padding: 8px;
    margin: 10px 0 10px 0;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-entry p {
    font-size: 14px;
}

#description.hidden {
    position: absolute;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 300ms ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#description.active {
    max-height: 200px;
    transition: max-height 1s ease-out, opacity 300ms ease;
}