@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

:root {
    --primary-orange: #CAA285;
    --secondary-orange: #FAF6F3;
    --blue: #0038FF;
    --red: #AE0303;
    --text-grey: #C4BFB6;
    --text-green: #18211D; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

button, input {
    border: none;
    outline: none;
    background: transparent;
}

textarea {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Jost', sans-serif;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {    
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

h1, h2, h3, p {
    color: var(--text-green);
}

p {
    font-size: 13px;
}

input[type="date"]:not(:valid)::-webkit-datetime-edit {
    color: var(--text-grey);
}

input[type="date"] {
    font-family: 'Jost', sans-serif;
    color: black;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.right {
    margin: 15px 20px 10px 20px;
}

.add-btn {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 10px 0 10px 0;
}

.add-btn:hover {
    background-color: var(--secondary-orange);
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header {
    background-color: var(--primary-orange);
    color: white;
    padding: 10px 12px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-weight: 800;
}

#hamburger {
    color: white;
}

nav {
    background-color: var(--secondary-orange);
    padding: 15px;
    display: none;
}

nav.active {
    display: block;
}

#nav-links {
    margin-bottom: 10px;
}

.nav-link {
    color: var(--text-green);
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 600;
}

#nav-projects {
    margin-top: 10px;
}

#project-title {
    background-color: white;
    border-radius: 8px;
    color: var(--text-grey);
    padding: 10px 20px 10px 8px;
    width: 95%;
}

#project-title:hover {
    box-shadow: 1px 1px 8px 1px; 
}

#submit-project {
    background-color: var(--primary-orange);
    color: white;
}

.project-submit {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#add-project.hidden {
    position: absolute;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 300ms ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#add-project.active {
    max-height: 200px;
    transition: max-height 1s ease-out, opacity 300ms ease;
}

#add-project > .submit-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

/*--------------------------------------------------------------
# Add Task
--------------------------------------------------------------*/
#add-task {
    border: 2px var(--text-grey) solid;
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    color: var(--text-grey);
    display: none;
}

#add-task.show {
    display: block;
}

#title-input {
    font-weight: 700;
}

#title-input, #description-input {
    width: 100%;
}

.form-body {
    display: flex;
    gap: 10px;
}

#project-list {
    display: none;
    background-color: var(--secondary-orange);
    padding: 10px 50px 10px 10px;
    width: inherit;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px 
}

#project-list.active {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
    position: absolute;
}

#project-list div {
    color: black;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px
}

#close-form, .submit-btn {
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    color: white;
}

#close-form {
    background-color: red;
}

#submit-task {
    background-color: var(--primary-orange);
}

.project-entry {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 3px 0 3px 0;
}

#project-select {
    font-size: 14px;
}

/*--------------------------------------------------------------
# Task List
--------------------------------------------------------------*/
.task-entry {
    display: flex;
    flex-direction: column;
    border: 1px var(--text-green) solid;
    border-radius: 6px;
    padding: 11px 10px 11px 14px;
    margin: 10px 0 10px 0;
    gap: 4px;
}

.task-header, .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 15px;
}

.due-date {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--blue);
    font-size: 12px;
}

.task-content.hidden {
    position: absolute;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 300ms ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.task-content.show {
    max-height: 200px;
    transition: max-height 1s ease-out, opacity 300ms ease;
}

.task-footer {
    margin-top: 10px;
}

.project-tag {
    border: 1px solid var(--primary-orange);
    color: var(--primary-orange);
    font-size: 10px;
    padding: 5px 14px 5px 14px;
    border-radius: 4px;
}

.project-tag:hover {
    background-color: var(--primary-orange);
    color: white;
}

.delete-btn:hover {
    color: green;
}




/*
.due-date {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--blue);
    font-size: 12px;
}

#description {
    font-size: 12px;
    font-weight: 400;
}

#task-footer.hidden {
    position: absolute;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 300ms ease;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#task-footer.show {
    max-height: 200px;
    transition: max-height 1s ease-out, opacity 300ms ease;
}

.project-tag {
    border: 1px solid var(--primary-orange);
    color: var(--primary-orange);
    font-size: 8px;
    padding: 5px 14px 5px 14px;
    border-radius: 4px;
}

.project-tag:hover {
    background-color: var(--primary-orange);
    color: white;
}

#task-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-btn:hover {
    color:red;
}

.edit-btn:hover {
    color: var(--primary-orange);
}

.edit-list {
    display: none;
    background-color: var(--secondary-orange);
    padding: 10px 30px 10px 10px;
    position: absolute;
    z-index: 10;
    width: inherit;
} */





